<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MockNautilus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MockNautilus.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>asdf</value>
            </setting>
            <setting name="Product" serializeAs="String">
                <value>Nautilus</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>9.1</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value />
            </setting>
            <setting name="HKeyCurrentUser" serializeAs="String">
                <value />
            </setting>
            <setting name="HKeyLocalMachine" serializeAs="String">
                <value />
            </setting>
            <setting name="OperatorName" serializeAs="String">
                <value />
            </setting>
            <setting name="RoleName" serializeAs="String">
                <value />
            </setting>
            <setting name="OperatorId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoleId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkstationId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SessionId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EntityRecords" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkflowId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkflowNodeId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkflowTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkflowPrimaryKey" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkflowIsInteractive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EntitySql" serializeAs="String">
                <value />
            </setting>
        </MockNautilus.Properties.Settings>
    </userSettings>
</configuration>